@use 'variables' as *;
body {
    background-color: $color-bg;

}
.btn-dark {
    background-color: $color-dark;
    color: $color-white; // <-- AJOUT : On force le texte en blanc
    // On peut aussi ajouter un peu de padding par défaut pour tous les boutons sombres
    padding: 0.75rem 1.5rem;
    border-radius: 9999px; // pour un effet "pilule"
    font-weight: 600; // un peu plus gras
    transition: background-color 0.3s, color 0.3s; // On ajoute la transition
}

.btn-dark:hover {
    background-color: $color-green-Pistachio;
    color: $color-dark;
}

.btn-light{
    background-color: $color-green-Pistachio;
    color: white;
}

.btn-light:hover{
    color: $color-bg;
    background-color: $color-dark;
}

.greenroots {
    font-family: $font-title;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    transition: text-shadow 0.3s ease;
}