// ======================
// 🎨 Variables Globales
// ======================
$font-main: 'Roboto', sans-serif;
$font-title: 'Dancing Script', cursive;

$color-bg: #dff0dc;
$color-dark: #152416;
$color-white: #ffffff;
$color-black: #000000;
$color-card-shadow: rgba(0, 0, 0, 0.1);
