// ======================
// 🎨 Variables Globales
// ======================

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-main: 'Bebas Neue', sans-serif;
$font-title: 'Dancing Script', cursive;

$color-bg: #dff0dc;
$color-dark: #152416;
$color-white: #ffffff;
$color-black: #000000;
$color-card-shadow: rgba(0, 0, 0, 0.1);
$color-footer-icon: #fdffb2;
$color-green-Pistachio: #85af61;

$text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);