@use 'variables' as *;
@use 'utils' as *;

// Le conteneur principal de la page.
// C'est la seule règle personnalisée dont cette page a besoin.
.container-cart {
  max-width: 800px; // On peut l'agrandir un peu pour plus de confort
  margin: 15rem auto 5rem auto; // Combine margin-top et margin-bottom
  padding: 2rem;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 12px $color-card-shadow;
  font-family: $font-main;
}