@use 'variables' as *;
@use 'utils' as *;

body{
    font-family: $font_main;
}

.catalog{
    background-color: $color-bg;
    padding-top:15rem;
}
.catalog-title{
   color: $color-dark;

}
.filter-bar{
    background-color: $color-white;
}

.card-cat-reg{
    color: #8b9e4d;


}