@use 'variables' as *;
@use 'utils' as *;

body{
    font-family: $font_main;
}

.catalog-title{
   color: $color-dark;

}
.filter-bar{
    background-color: $color-white;
}

.card-cat-reg{
    color: $color-green-Pistachio;
}