@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  z-index: 100;
 
  .nav-links {
    display: flex;
    gap: 1rem;

    a, button {
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
      }
    }

  }

  &.scrolled {
    background-color: white;
    a, button {
      color: black;
      text-shadow: none;
    }
  }

  @media (max-width: 768px) {

    .nav-links {
      display: none;
      gap: 0; 
    }

    .logo .title {
      font-size: 1rem;
    }

    .logo-container .logo {
      height: 4rem;
      margin-right: 0.5rem;
    }
  }
}
