@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 100;
  background-color: transparent;

  .container {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    
    .logo {
      height: 7rem;
      margin-right: 1rem;
    }

    .title {
      font-family: 'Dancing Script', cursive;
      font-size: 3.5rem;
      font-weight: 700;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      transition: text-shadow 0.3s ease;
    }
  }

  .nav-links {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      transition: color 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }

    /* === Responsive menu burger === */
    &.open {
      display: flex !important;
      flex-direction: column;
      position: fixed;
      top: 8rem;
      right: 0;
      background-color: transparent;
      width: 60vw;
      height: calc(100vh - 8rem);
      padding: 2rem;
      box-shadow: none;
      gap: 0.5rem;
      z-index: 101;
      align-items: flex-end;

      a {
        font-size: 1.5rem;
        color: white;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      }
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 102;

    .burger-line {
      width: 100%;
      height: 0.3rem;
      background-color: white;
      border-radius: 10px;
      transition: all 0.3s ease;
    }

    &.open .burger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &.open .burger-line:nth-child(2) {
      opacity: 0;
    }
    &.open .burger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  &.scrolled {
    background-color: white;

    .logo-container,
    .nav-links a {
      color: black;
      text-shadow: none;
    }

    .burger .burger-line {
      background-color: black;
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    .nav-links {
      display: none;
      gap: 0;

      a {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      }
    }

    .burger {
      display: flex;
    }

    .logo-container .title {
      font-size: 3rem;
    }

    .logo-container .logo {
      height: 6rem;
      margin-right: 0.5rem;
    }
  }
}
