@use "variables" as *;



h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.p-login {
  text-align: center;
  margin-bottom: 1rem;
  color: $color-dark;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

}

.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}
