@use 'utils' as *;
@use 'variables' as *;

.order-detail-container{
    margin-top: 7rem;
}
.return-to-orders{
    color: $color-green-Pistachio;
}
.return-to-orders:hover{
    color: $color-dark;
}

.tree-title{
    color: $color-dark;
}